[2020-10-04 02:08] tomassirio opened #1 "See what you can add to the readme file"

[2020-10-04 02:09] tomassirio opened #2 "The Poll command has a bug on the polling results"
Basically the poll never shows the results given the votes on the emojis

[2020-10-04 02:10] tomassirio opened #3 "Command refactor"
The bot is really sloppy since it was a hobby project. If you want to change something or make something look better, then give it a try

[2020-10-04 06:12] manishkrjha commented on #1
Hey @tomassirio , I was thinking of adding a contributor checklist where we can mention the steps one needs to follow to contribute to raise a PR to this project.

It will go as
- Fork Repository
- Clone
- Make your own branch (with some regulations on branch name like changes/username)
- signing off commits
- pushing it to repository.

[2020-10-04 12:31] heyimalaap commented on #2
Ah do you mean for polls with time limits? I could maybe have a go at this.

[2020-10-04 13:05] tomassirio commented on #1
Pls do!

[2020-10-04 13:06] tomassirio commented on #2
Thanks! Have fun

[2020-10-04 13:53] tomassirio opened #8 "The Contributors badge is broken (doesn't count correctly)"
I created that badge using [Shields.io](shields.io) Think you can fix it?

[2020-10-04 14:02] jsilvaigor commented on #8
Hi, I'll take a look on this

[2020-10-04 14:18] #8 closed, assigned to nobody

[2020-10-04 16:12] javleds opened #11 "Remove the .env file from the project"
As a good practice, we use to add the `.env` file to the git repository, this is because the `.env` file use to have confidential information about the server and connection.

If we want to preserve the possible entries, we should create a `.env.example` file which has the requires structure.

[2020-10-04 16:17] javleds commented on #11
By the way, I have created a PR for this (https://github.com/tomassirio/ListBot/pull/12), hope you could help me to review it

[2020-10-04 16:20] tomassirio opened #13 "Format the list command output"
The list command output looks kind of bad. See if you can make it any better

[2020-10-04 16:32] Oatelaus commented on #13
I'm gonna pick this up, if that's okay!

[2020-10-04 16:48] #11 closed, assigned to nobody

[2020-10-04 16:57] javleds opened #16 "Improve the project setup"
I have noticed that the project require some extra steps to be executed in local environments, as well, as some good practices that we could implement in here.

I have created a PR with 3 main changes:
- Add a `.env.example` file to store the constants of the project, this will allow you to have your own copy of `.env` file with your personal information.
- Remove `node_modules` from the git repos

[2020-10-04 17:11] tomassirio commented on #13
Sure!

[2020-10-04 17:18] Oatelaus commented on #16
Can I suggest using process.env.NODE_ENV? Otherwise you'll be stacking up `USE_[FEATURE]_FOR_DEVELOP` flags. This way you can set it via the run command

[2020-10-04 17:22] javleds commented on #16
@Fedelaus the pull request was already merged, but your suggestion is awesome, do you want to perform the change in a new PR?

[2020-10-04 17:26] javleds opened #17 "Fatal exception when list command is called and there is no collection or record created"
If you try to use this bot in discord, after install the application with the bot, if you try to execute the `list` command it thros a fatal exception and stops the server service:

![image](https://user-images.githubusercontent.com/11241239/95022389-a8849e00-063c-11eb-81bd-4d230c5fb23f.png)

![image](https://user-images.githubusercontent.com/11241239/95022392-ad495200-063c-11eb-83ca-75fc2cc95b22.

[2020-10-04 17:26] javleds commented on #17
Let me try to fix this one.

[2020-10-04 17:53] tomassirio commented on #17
I think this issue might be because there were no elements in the list before using the $list command. Maybe there should be a validation to that

[2020-10-04 18:08] javleds commented on #17
The PR for this is ready, could you please help me to review it?

https://github.com/tomassirio/ListBot/pull/19

[2020-10-04 18:11] javleds opened #21 "Repeated code in almost all the commands"
In almost all the commands exists a validation for the channel existence, if it does not exists, then it create it, what you think if abstract that code in a util to re-use it in all needed places?

![image](https://user-images.githubusercontent.com/11241239/95023523-2b105c00-0643-11eb-989a-17684e2fbaf9.png)

[2020-10-04 18:16] tomassirio commented on #21
Definetely is the way i'd have gone. I'm fairly new to node.js and i couldn't find my way around as I normally do in Java. If you think you can abstract those methods I'd be thankfull to check that PR

[2020-10-04 18:22] javleds commented on #21
Nice, I will create a PR for this one, I just have a question, is this repo be executed in a modern javascript engine? Or what versión of nodejs are you using?

[2020-10-04 18:24] tomassirio commented on #21
I'm running this on node 6.14.7

On Sun, 4 Oct 2020 at 15:22, Javier Ledezma <notifications@github.com>
wrote:

[2020-10-04 19:31] javleds commented on #21
The pull request is done: https://github.com/tomassirio/ListBot/pull/25

I am working into implement babel, in order to allow to run the script in any node version.

[2020-10-04 20:45] tomassirio opened #26 "Add a Multi Add command to the Bot"
The Add command let's you add only one element to the list. Add a MultiAdd command that lets you add more than one on a single command

[2020-10-04 20:46] tomassirio opened #27 "Add a Multi Remove command"
The Remove command let's you remove only one element to the list. Add a MultiRemove command that lets you remove more than one on a single command

[2020-10-04 20:49] Akshansh99 commented on #27
Hey! Can I do this?

[2020-10-04 20:50] tomassirio commented on #27
Sure!

[2020-10-04 20:51] #21 closed, assigned to nobody

[2020-10-04 20:51] #17 closed, assigned to nobody

[2020-10-04 20:52] Akshansh99 commented on #27
Can you please explain a little what I have to do?

[2020-10-04 20:52] tomassirio commented on #16
@javleds @Fedelaus is this issue ready to be closed? Was a new PR opened for @Fedelaus proposal?

[2020-10-04 20:55] tomassirio commented on #27
You should try copying the add command and modify the arguments it receives so you can cycle them and add them all to the list on a single call to the bot

[2020-10-04 21:57] Oatelaus commented on #16
All done

[2020-10-04 22:05] #16 closed, assigned to nobody

[2020-10-05 01:12] javleds opened #29 "Wrap the code to be compatible with node 6"
Latest features of NodeJS, also known as EcmaScript 2017 and above, won't work in older versions than Node 8.0, in order to run scripts with all the features available, we should wrap the code using babel and polyfill.

The idea is the follwoing:
- Move all the `javascript` files to the `src` directory.
- Install babel and polyfill as dependencies of the project.
- For development proposes no chan

[2020-10-05 01:13] javleds commented on #29
Pull request for this is ready to review: https://github.com/tomassirio/ListBot/pull/28

If you have any question about why this change was done, feel free to ask.

[2020-10-05 01:26] JDOG787 commented on #13
Hi, would it de ok if I tried this out too?

[2020-10-05 05:00] Akshansh99 commented on #27
Shouldn't I use remove command for this instead of add command? And modify it for all the elements?

[2020-10-05 05:11] JDOG787 commented on #26
Im going to give this one a try 👍

[2020-10-05 05:46] kunaljain0212 commented on #27
Hey @tomassirio !
I'm facing issues setting up the project. I'm new to open source, but I want to contribute. Could you please help me with the setup? I am unable to understand what is BOT_TOKEN. Also, how am I supposed to connect it with discord?

[2020-10-05 07:35] Oatelaus commented on #13
@JDOG787 I've done the original issue already.

I was going to add strike through functionality, so you can mark items in the list as done.

You would need to...

1. Add a flag to the model so we can save state in the database.
2. Add a command to mark items as done
3. Add `~` surrounding the value of done items within `list.js`.

[2020-10-05 07:46] Oatelaus commented on #29
What's gained by the added by the build/babel step? It's not being packaged into a non-node environment, so it doesn't really make sense (to me)

[2020-10-05 08:04] Akshansh99 commented on #27
Hey @tomassirio ! The remove doesn't seem to work in the bot. For every command it seems to say not found. Can you help me out here?

[2020-10-05 10:25] jayeshmann commented on #3
Can you assign me to this?

[2020-10-05 12:12] tomassirio commented on #3
Sure @jayeshmann

[2020-10-05 12:13] #29 closed, assigned to javleds

[2020-10-05 12:13] tomassirio commented on #26
I'll assign you then

[2020-10-05 12:14] tomassirio commented on #2
@heyimalaap is this issue closed?

[2020-10-05 12:55] heyimalaap commented on #2
will pr the fix soon

[2020-10-05 13:48] javleds commented on #29
Hi @Fedelaus! It does not looks relevant for latest versions of nodejs, but https://github.com/tomassirio/ListBot/issues/21#issuecomment-703295601 in that comment @tomassirio affirms the usage of older versions of nodejs which has a lot of missing capabilities, you can see more about that in here:  https://node.green/

What do you think about it?

[2020-10-05 14:02] Oatelaus commented on #29
@javleds I think @tomassirio posted `npm -v` and not `node -v`, as `6.14.7` was the latest version of `npm` at the time of his comment - node 6 also outdates this project by a huge amount.

Outside of this, I think...

1. Adding a build chain for an out of support version of node is a little backwards. The project should be brought up to the latest supported version and maintainers should update t

[2020-10-05 14:13] javleds commented on #29
I Agree, part of our work is to keep the latest versions of the tools that are using, but sometimes it requires more than a single `npm i -g`.

We achieve 2 things with this PR, one of them is to wrap the project into the `src` directory, and the second one is to give support for old versions. Polyfill is used to fill the red squares shared into the page above.

Once we are sure that older support

[2020-10-05 14:14] tomassiriouala commented on #27
@kunaljain0212 The bot token is the string that Discord is going to give you when you want to implement a bot. You should ask for one in order to connect it to discord. After getting the secret token, copy it to the .env file (remember to rename the .env.example to .env)

If I remember correctly i used this [link](https://www.digitaltrends.com/gaming/how-to-make-a-discord-bot/) to create this bot

[2020-10-05 14:14] tomassiriouala commented on #27
@Akshansh99 tell me a little bit more about the issue? Do you have the item that you are trying to remove already created in the mongoDb instance?

[2020-10-05 14:25] Oatelaus commented on #29
I'm going to add the opposite PR, as I think this adds more pain and the original issue it addresses was a misunderstanding. I think it's better people update their systems than add support for versions Node no longer support themselves.

Agree with adding it into a src directory though.

[2020-10-05 14:36] Akshansh99 commented on #27
Yes the item I want to remove is already created in the mongoDB. Still the remove command `$remove <element>` doesn't work. Other commands run fine.

[2020-10-05 14:37] tomassirio commented on #27
Ok, i'll open a new issue to check that out

[2020-10-05 14:38] tomassirio opened #34 "Remove command not working correctly"
Comes from a discussion on Issue [#27 ](https://github.com/tomassirio/ListBot/issues/27)

Apparently the remove command is not removing the element associated to the DB

[2020-10-05 14:39] tomassirio commented on #27
Created an issue to check this separately [#34](https://github.com/tomassirio/ListBot/issues/34)

[2020-10-05 14:39] Croustys commented on #34
Would like to try contributing to it myself!

[2020-10-05 15:18] JStruk commented on #34
I can take a look at this issue, mind assigning it to me? I'll have a PR up by end-of-day 😄

[2020-10-05 15:25] tomassirio commented on #34
Sure Bud

[2020-10-05 17:15] JDOG787 commented on #26
thx

[2020-10-05 19:50] tomassirio opened #40 "Add your user to the contribution list in the Readme"
Easy for beginners. This is all about lists in the end

[2020-10-05 21:47] JStruk commented on #34
If this issue has been fixed as part of #38 I'll disregard and won't put a PR up 😄

[2020-10-05 21:52] tomassirio commented on #34
It wasn't resolved yet. However, let's give JDOG a chance and if he can't solve it then you can take it

[2020-10-05 22:01] JDOG787 commented on #34
Im trying to figure it out.

[2020-10-05 22:19] tomassirio commented on #34
@JDOG787 see if [this](https://www.earthdatascience.org/courses/intro-to-earth-data-science/git-github/github-collaboration/update-github-repositories-with-changes-by-others/) helps you sort the issue out. I often need the issues being drawn in order to fully understand the issue

[2020-10-05 22:26] JDOG787 commented on #34
@tomassirio Ok ill look at it thx

[2020-10-05 22:43] JDOG787 commented on #34
@tomassirio ok so I think it makes more sense now. But will I need to close the current pull request to do the reverse pull request?

[2020-10-05 22:46] tomassirio commented on #34
Hmm, I don't think you should. Give it a try, what I think will happen is that you will need to commit your changes among the pull request to the other pull request so you should be fine

[2020-10-05 22:49] JDOG787 commented on #34
Hmmmm well this is what I see when I click make pull request on my fork
![Screen Shot 2020-10-05 at 3 48 29 PM](https://user-images.githubusercontent.com/64325143/95139869-57e77080-0722-11eb-9951-44478b6fc05d.png)

Any ideas?

[2020-10-05 23:01] JDOG787 commented on #34
Going to try to close it first.

[2020-10-05 23:04] JDOG787 commented on #34
wow I think it might be working. ill let you know

[2020-10-06 00:21] JDOG787 commented on #34
@tomassirio ok I think I got it

[2020-10-06 00:46] diogenesdauster commented on #40
I'd like to take this

[2020-10-06 04:46] javleds opened #53 "Add tests for the repo"
This repo is getting popular, what do you think if we create a suite of tests to ensure that the incoming pull request does not broke anything?

[2020-10-06 08:14] qoobes commented on #27
I assume this isn't finished yet, so can i take the issue?

[2020-10-06 12:03] tomassirio commented on #40
Pls do!

[2020-10-06 12:14] tomassirio commented on #53
Sure, do you want me to assign you to the issue or do you know about someone who might want to do it?

[2020-10-06 12:16] tomassirio commented on #27
@qoobes i was about to close this issue since it was already resolved. I'll be adding a couple more issues that you might be interested on

[2020-10-06 12:16] #27 closed, assigned to nobody

[2020-10-06 12:17] #26 closed, assigned to JDOG787

[2020-10-06 12:23] tomassirio opened #56 "The removemany command should be renamed to multi-remove"

[2020-10-06 12:33] Akshansh99 commented on #56
Hey @tomassirio
I can do it

[2020-10-06 13:28] tomassirio commented on #56
Closed on [#57](https://github.com/tomassirio/ListBot/pull/57)

[2020-10-06 13:29] #56 closed, assigned to Akshansh99

[2020-10-06 13:31] tomassirio opened #58 "Bug on mongoose"
at NativeConnection.Connection.openUri (/Users/tomassirio/Bots/DiscordBot/node_modules/mongoose/lib/connection.js:800:32)
    at /Users/tomassirio/Bots/DiscordBot/node_modules/mongoose/lib/index.js:341:10
    at /Users/tomassirio/Bots/DiscordBot/node_modules/mongoose/lib/helpers/promiseOrCallback.js:31:5
    at new Promise (<anonymous>)
    at promiseOrCallback (/Users/tomassirio/Bots/DiscordBot/n

[2020-10-06 13:37] trybick commented on #58
I think you need to login to Mongo Atlas and add your IP to the whitelist in settings

[2020-10-06 13:41] tomassirio commented on #58
I think it was an issue on my configuration. Couldn't keep up with the changes on the repo LOL

[2020-10-06 13:49] tomassirio commented on #58
The Ip's are correctly white listed. Yet the error is there

[2020-10-06 13:52] trybick commented on #58
Probably related to the connection URL string - I would recopy the connection URL from the Atlas console and check username and password are valid

[2020-10-06 14:06] tomassirio commented on #58
Tried that as well. Changed the whole URL string connection but i'm getting the same error

[2020-10-06 14:09] trybick commented on #58
I think I had the same thing happen in my project with that whitelist error lol. I think I solved it by creating a new user account and password from the console and using that, in case that helps

[2020-10-06 14:18] tomassirio commented on #58
I guess it's because i'm using cloud mongo

[2020-10-06 14:28] Abhijay007 commented on #40
Can I work on this issue? I will add Github workflow to it that will auto automatically update user who the contributor to this repository with their profile pic and profile link

[2020-10-06 14:38] tomassirio commented on #58
Ok, so i created a hardcoded Mongo URL and i was able to bypass the issue. So my wild guess is that the creation of the productionMongoUrl (and dev too) are failing somewhere

[2020-10-06 14:54] javleds commented on #53
We can let it open if someone wants to help, I could start working just in case no one creates a PR for this

[2020-10-06 14:59] tomassirio commented on #40
Oh my god that sounds amazing! Sure do!

[2020-10-06 15:00] tomassirio commented on #53
it's up to you man, i'll let it open and if anyone wants to share a hand he/she/them/it will be welcome

[2020-10-06 18:22] Jonathanvanhaaften commented on #40
Love to Add

[2020-10-06 18:53] tomassirio commented on #40
Pls do

[2020-10-06 22:28] tomassirio opened #65 "The Command table on the Bot BootUp shows commands that are not there anymore (removemany, addmany)"
![image](https://user-images.githubusercontent.com/19593836/95266604-e97ddd80-0809-11eb-8b3e-13c5677b5dc7.png)

Take them off

[2020-10-06 22:51] Toshiuk commented on #65
The command addmany still there yet.
and about the command removemany, is not showing in the list
![image](https://user-images.githubusercontent.com/8109770/95268249-d7626600-082e-11eb-8211-9feaea779fac.png)

[2020-10-06 22:52] Toshiuk commented on #65
Should I remove the command addmany and send a PR?

[2020-10-06 23:17] tomassirio commented on #65
Yes please, remove the command and send a PR

[2020-10-07 00:06] dshah2012 commented on #58
The error persist in the repo. I cloned the master and I am running using docker-compose. I guess you need to add the IP address in the cluster's IP whitelist.

Note: I have not provided any username and pasword for the db in the environment. It is running in default mode.
Is it necessary to provide any value for the mongo DB credentials. As I have read in some blogs that, sometimes it might be th

[2020-10-07 12:11] tomassirio commented on #58
I whitelisted every ip (by whitelisting 0.0.0.0) so that doesn't seem to be the issue. The hardcoded URL however worked fine

[2020-10-08 01:13] AldoTu opened #69 "README.md is missing time option for polling command"
Polling command accepts a time element for the polling but that is not documented inside the README.md.
Better documentation suggested.

[2020-10-08 01:15] AldoTu commented on #69
@tomassirio if ypu assign it to me I can complete it. :)

[2020-10-08 01:27] tomassirio commented on #69
Sure buddy. There you go

[2020-10-08 03:50] AldoTu commented on #69
Hi @tomassirio! Already uploaded my PR #70.
Hope you like the changes. :)

[2020-10-08 12:17] tomassirio commented on #69
I really liked them! Thanks @AldoTu

[2020-10-08 12:17] #69 closed, assigned to nobody

[2020-10-08 12:18] #65 closed, assigned to Toshiuk

[2020-10-08 12:24] tomassirio opened #72 "Discord Server now Available!"
It's added on the Readme. You can join [here](https://discord.gg/59YjSZ)

It's still barebones but we might make it harder, better, faster, stronger

[2020-10-08 13:01] tomassirio opened #73 "Add a command for the Konami Code"
I was thinking that it could be added as an exception on the add command or add many.

But it could be whatever you feel up to

[2020-10-08 13:53] AldoTu opened #76 "Add $remind functionality to list of commands"
Hi @tomassirio, I liked your project and added locally a $remind command so the bot in Discord can remind you of a certain element after n minutes.
If you like it I can pull it for your review. :)

[2020-10-08 13:55] tomassirio commented on #76
Yes please! I love it

[2020-10-08 13:56] #1 closed, assigned to nobody

[2020-10-08 13:57] #2 closed, assigned to heyimalaap

[2020-10-08 14:02] AldoTu commented on #76
@tomassirio already made the PR #77
Hope you like it (or expecting feedback jejeje)

[2020-10-08 14:31] tomassirio commented on #76
closed on [#77](https://github.com/tomassirio/ListBot/pull/77). Adding a new issue to delete the element after the time is over

[2020-10-08 14:32] #76 closed, assigned to AldoTu

[2020-10-08 14:34] tomassirio opened #78 "In the $remind command, the element should be deleted after the time is up. Also it should show a notification for the reminded element"
Comes from issue [#76](https://github.com/tomassirio/ListBot/issues/76)

[2020-10-08 14:54] AldoTu commented on #78
Agreed, could you please explain a little bit more how the notification should work?

[2020-10-08 15:10] tomassirio commented on #78
My bad on the notifications. I reread the TimeOut section and found the REMINDER message. So that's okay

[2020-10-08 15:12] AldoTu commented on #78
Ok :)
Working on the removal of the item.

[2020-10-08 15:24] tomassirio opened #79 "Create a CHANGELOG file and modify the $log command to feed from the Changelog file"

[2020-10-08 18:09] tomassirio opened #80 "Add the possibility of having Roles on the bot"
Mostly for users and admin purposes

[2020-10-08 18:10] tomassirio opened #81 "Add a validation to let the users with admin users to use certain commands"
For example:
In the general channel, only the admins will have permission to add/remove on a list. The users will be able to only see what's on a list

[2020-10-08 18:24] tomassirio opened #82 "Add a command that only Admins can use $promote"
The command should check if the user calling it is an Admin. It should receive as parameter a user (fe: $promote @tomassirio).

The person that adds ListBot to a server should be the first admin

[2020-10-08 18:26] tomassirio opened #83 "[Admins] Add a $demote user"
Same as de $promote command. This command should check if the user calling it is an admin. Removes the admin role of the user passed as parameter (if this user was an admin before, of course)

[2020-10-08 18:34] tomassirio opened #84 "[Encryption] We need to encrypt the data saved to MongoDb"
Data is private. We need to encrypt the Discord channels, users, and elements added to the list when we are saving them to the Db instance.

A next issue will add a secret key for the Hash function

[2020-10-08 18:35] tomassirio opened #85 "[Encryption] Create a secret key for the hashing encryption"

[2020-10-08 18:57] aaronzshey commented on #84
I can work on this!  Can we use bcrypt?

[2020-10-08 18:59] tomassirio commented on #84
Sure! I'll assign it to you. There's a [discord](https://discord.gg/59YjSZ) server if you want to join

[2020-10-08 20:03] aaronzshey commented on #84
Awesome!  I'll get on it right away.

[2020-10-08 20:04] aaronzshey commented on #84
Which file should I start editing?

[2020-10-08 20:35] aaronzshey commented on #84
Update: I am going to use crypto instead of bcrypt.

[2020-10-08 21:51] AldoTu commented on #78
@tomassirio already uploaded PR #87

[2020-10-08 22:04] #79 closed, assigned to nobody

[2020-10-08 22:10] tomassirio opened #88 "$list command should show the element where the user is and viceversa"
![image](https://user-images.githubusercontent.com/19593836/95518545-ad798280-0999-11eb-9e38-b704fef84d49.png)

Right now the format looks something line:

i - bold(authorName)
_Message_

it should look:

i - bold(Message)
_authorName_

[2020-10-08 22:37] tomassirio opened #89 "$log command has a wrong path to the CHANGELOG file"
change from ../CHANGELOG to ../../CHANGELOG

[2020-10-08 23:00] AldoTu commented on #89
I can do it.

[2020-10-08 23:04] tomassirio commented on #89
There you go

[2020-10-08 23:21] AldoTu commented on #89
Done #90

[2020-10-08 23:27] #89 closed, assigned to AldoTu

[2020-10-08 23:57] rahulpatel596 commented on #88
I would like to work on this if still available @tomassirio

[2020-10-08 23:59] adhammo commented on #88
this is an easy issue and I already found the solution (just replace name and value). because this is how discord API works. it will make the name bold. can you assign me to this issue?

![image](https://user-images.githubusercontent.com/56611873/95524929-fef23380-09d2-11eb-93d4-c2682bbc6b6b.png)

[2020-10-09 00:15] #88 closed, assigned to nobody

[2020-10-09 00:15] #78 closed, assigned to AldoTu

[2020-10-09 00:24] tomassirio commented on #84
Sure, I read the article you gave me and seems pretty readable.

[2020-10-09 01:15] aaronzshey commented on #84
Cool - we can probably merge this with the secret for encryption issue.

[2020-10-09 01:25] tomassirio opened #93 "[BUG] $remind command needs a validation that arguments are being passed"

[2020-10-09 01:26] AldoTu commented on #93
Let me fix it. :)

[2020-10-09 01:34] ahmad-reza619 commented on #82
Can i take these issue?

[2020-10-09 01:54] tomassirio commented on #82
You can sure do.
Join the [discord](https://discord.gg/hK9EBN) server too

[2020-10-09 01:56] ahmad-reza619 commented on #82
Sure :)

[2020-10-09 02:12] adhammo commented on #93
validate what? because from what I see, other commands don't validate args.

[2020-10-09 04:18] AldoTu commented on #93
Fix already pulled. #94

[2020-10-09 07:57] sdanpo commented on #84
Hi Tomas,
Another option to encrypt (and still operate over the encrypted data) is to use Kindite.
It is an encryption mechanism which wihtout any code changes completely encrypts the needed fields and allows you to operate on them without any performance hit.

In case you would like to read more https://blog.kindite.com/hubfs/Use%20case%20-%20Hybrid%20B2C%20apps.pdf

[2020-10-09 12:00] #93 closed, assigned to AldoTu

[2020-10-09 12:03] tomassirio commented on #84
I'm going to read it through out the day. If you think this changes are better than the ones proposed by @CarlyRaeJepsenStan, please debate them with him. Btw, since debating through issues is kind of a hassle (even though it's by far more organized) we are disccussing this changes on the official [discord](https://discord.gg/59YjSZ) server, please come and chat with us

[2020-10-09 12:21] tomassirio opened #96 "The docker-compose file needs updating"
As stated by @medusalix:

- It was a real pain getting the bot to work correctly. The env_file directive in the docker-compose.yaml doesn't make any sense, as dotenv wants to read from a .env file which doesn't exist in the container. Adding a corresponding volume entry fixed that.
The devMongoUrl should point to the local mongo docker container in my opinion. Makes it way easier to test things wi

[2020-10-09 12:23] tomassirio opened #97 "The bot needs to follow a convention"
@medusalix:

My suggestions would be: No semicolons, single quotes and let for variables.
However, i'm not an experienced Node.js developer. So any suggestions, such as Prettier and ESLint as stated before will be considered

[2020-10-09 13:32] anontyro commented on #97
@tomassirio I can add in prettier and eslint if you like. Prettier generally will enforce semicolons and both follow the convention of using `const` over let unless you require mutability which is fairly normal in JavaScript. Single Quotes can be configured however. but it will make it easier in the long term and VS Code does have auto formatting options which is pretty great for this as well

[2020-10-09 13:38] tomassirio commented on #97
Sure, i'll assign it to you. Join the discord server so we can keep discussing this with the gang [link](http://www.discord.io/listbot)

[2020-10-09 13:42] #96 closed, assigned to nobody

[2020-10-09 14:38] tomassirio opened #103 "[BUG] $Ping command is shutting down the bot"
2020-10-09T14:31:08.410764+00:00 app[worker.1]: /app/src/commands/ping.js:17
2020-10-09T14:31:08.410783+00:00 app[worker.1]: } catch (error) {
2020-10-09T14:31:08.410784+00:00 app[worker.1]: ^^^^^
2020-10-09T14:31:08.410784+00:00 app[worker.1]:
2020-10-09T14:31:08.410785+00:00 app[worker.1]: SyntaxError: Unexpected token 'catch'
2020-10-09T14:31:08.410785+00:00 app[worker.1]: at compileFunction (<

[2020-10-09 14:57] hyonim commented on #103
~~Wait, let me fix.~~ Fixed.

[2020-10-09 18:18] aaronzshey commented on #84
@sdanpo While Kindite looks useful and fast, it seems to be a production/business product - you have to pay, and it seems geared to massive server networks.  For our humble uses, I think crypto would work ok.

[2020-10-09 19:01] AldoTu opened #106 "[BUG] $remind command takes string as time when no number supplied"

[2020-10-09 19:01] AldoTu commented on #106
Please assign it to me!

[2020-10-09 19:03] #103 closed, assigned to nobody

[2020-10-09 19:03] #97 closed, assigned to anontyro

[2020-10-09 19:05] #13 closed, assigned to Oatelaus

[2020-10-09 22:10] AldoTu commented on #106
#107

[2020-10-09 22:55] #106 closed, assigned to AldoTu

[2020-10-09 23:20] aaronzshey commented on #84
#108

[2020-10-09 23:21] aaronzshey commented on #85
As crypto needs two secrets to encrypt uniformly (#108 and [this issue](https://github.com/tomassirio/ListBot/issues/84)) this should be closed.

[2020-10-09 23:31] AldoTu opened #109 "[ENCRYPTION] Integrate the encrypt.js file as a middleware to optimize project"

[2020-10-09 23:31] AldoTu commented on #109
:)

[2020-10-09 23:38] tomassirio opened #110 "[BUG] $ping command is still faulty."
That was the issue with ping in heroku's log

[2020-10-10 00:16] kubeeek commented on #110
Can I take it?

[2020-10-10 00:17] adhammo commented on #110
Can you assign it to me, please?

This exception was thrown because **client** is not defined in **ping.js** scope.

There are two solutions:
1. Give client to command args. (not that good)
2. Sperate client from **index.js** and give it its own module.

Update: I just noticed from discord.js docs that message class has a read-only client attribute. I'll go with this one.

[2020-10-10 01:34] #110 closed, assigned to adhammo

[2020-10-10 01:35] #85 closed, assigned to nobody

[2020-10-10 01:35] #84 closed, assigned to aaronzshey

[2020-10-10 15:37] Apurva-Singh commented on #109
Hey @AldoTu I would like to work on it. Please can you provide more deatils? Thanks!

[2020-10-10 16:41] tomassirio commented on #109
@AldoTu think you can introduce @Apurva-Singh to the encryption middleware?

[2020-10-10 17:16] AldoTu commented on #109
Hi @Apurva-Singh! What we want to do is to use the encrypt.js script inside the utils folder to encrypt the DB. We got to the conclusion that we should apply the script directly in the DB models so what I'm looking for is to execute the script as a middleware every time there's interaction with the models.

[2020-10-10 19:50] aaronzshey commented on #109
Some resources that I found:
https://mongoosejs.com/docs/plugins.html
https://thecodebarbarian.com/2015/03/06/guide-to-mongoose-plugins

We might be able to use Schema.post or something to manipulate the values after they're put in.

[2020-10-11 18:21] somtookaforr commented on #81
I can attempt this with php

[2020-10-12 13:21] tomassirio commented on #81
I'd rather have all the code in Node.Js if it's possible

[2020-10-13 05:40] aaronzshey commented on #109
#114

[2020-10-13 17:54] tomassirio opened #115 "[FEATURE] Create a script to encrypt the existing data on the Database"

[2020-10-13 19:35] AldoTu commented on #115
Agreed.

[2020-10-14 04:39] rgroves commented on #73
I'd like to pick this up, though I'm not clear on what is meant by "it could be added as an exception on the add command or add many." Can you clarify what should be implemented. Is a new command to be created or is this to be hooked into an existing command?

And how is the Konami Code to be entered by the user? Would it be using emoji, like:
$⬆⬆⬇⬇⬅➡⬅➡BA
Or using a plain-text representation, like

[2020-10-14 13:20] tomassiriouala commented on #73
I really like this option

It should be an Easter Egg on the add function. I think that it should ommit the DB insertion and just return an embedded message with an Egg or something Konami Related (It could also be a Kojima being fired joke).

I'll assign it to you @rgroves. Meanwhile, join us at the [discord channel ](http://www.discord.io/listbot) in which we are discussing ListBot related stuff

[2020-10-15 04:37] rgroves commented on #73
@tomassirio I implemented this so that it just returns a random message from a set I came up with on the fly. These random messages can be improved or added to in the future.

The messages look like this:
![image](https://user-images.githubusercontent.com/891249/96077670-0c496b00-0e76-11eb-8888-35e74c7f9a75.png)

[2020-10-15 04:47] rgroves commented on #73
Also, it looks like the code base is in a somewhat broken state. I had to modify `src\commands\polls.js` to remove an error and modify the `devMongoUrl` connection string in `src\config\index.js`. (Note: I was not using Docker)

It also looks like linting checks may have been modified or added, because it looks like files that weren't part of my PR changes are failing checks. Let me know how to pr

[2020-10-15 12:18] tomassirio commented on #73
We've had a lot of contributions in the past days and I couldn't merge everything appropriately. One of the Contributors is working on a test suit case to solve most of this issues. But if you are willing to give a hand, I can open an issue for you to fix those things

[2020-10-15 12:18] #73 closed, assigned to rgroves

[2020-10-15 12:30] tomassirio opened #117 "[BUG] The devMongoURL string is broken"
As apointed by @rgroves:

[2020-10-15 12:31] tomassirio opened #118 "[BUG] Fix the linting checks for the github actions module"
As appointed by @rgroves:

[2020-10-15 12:36] tomassirio opened #119 "[BUG] Poll is broken"

[2020-10-15 15:01] rgroves commented on #118
I'll take this one.

[2020-10-15 15:05] tomassirio commented on #118
Sure! i'll assign it to you then

[2020-10-15 20:44] rgroves commented on #119
If no one else is looking into this one, I can take a shot at fixing it.

[2020-10-15 22:03] tomassirio commented on #119
Sure! I'll assign it to you

[2020-10-15 22:41] tomassirio commented on #118
@rgroves

[code]

I had an issue with the lint fixes after merging your changes

[2020-10-16 01:35] rgroves commented on #118
@tomassirio  I mentioned that in the [PR comment](https://github.com/tomassirio/ListBot/pull/120#issue-504371184). The file poll.js is failing linting because it has a bunch of problems that aren't really linting related, but syntax/logic related.

I'm working on #119  now that will fix up poll.js and make polls work.

[2020-10-16 01:39] tomassirio commented on #118
My bad. Closing this issue

[2020-10-16 01:39] #118 closed, assigned to rgroves

[2020-10-16 04:34] rgroves commented on #119
I'm about to submit a PR for this issue. I took it in a slightly different direction than where it was at and made some assumptions, but it's a start and provides basic poll functionality which can be tweaked in the future.

[2020-10-16 12:15] #119 closed, assigned to rgroves

[2020-10-16 16:07] rgroves opened #122 "[BUG] Poll Command - Bot does not provide the initial emoji reacts when poll has no end time."
**Describe the bug**
When a poll is started the bot should announce the poll via a message and create the initial reacts that are to be used for voting on that message. Currently, when a poll with no time limit is created the initial reacts are not created.

**To Reproduce**
Steps to reproduce the behavior:

1. enter `$poll` without specifying a time parameter or use zero, `$poll 0`
2. The bot cre

[2020-10-16 16:15] rgroves opened #123 "[BUG] Poll Command - Bot does not handle polls with less than 5 options in the list correctly."
**Describe the bug**
When a poll is started and the list has less than 5 items, the bot provides all 5 reacts for voting.

**To Reproduce**
Steps to reproduce the behavior:

1. Make sure your list has less than 5 items in it (1 - 4 items)
2. Send a poll command like `$poll 1`
3. You'll see that when the bot creates the poll message, it creates all 5 initial reacts for voting, when it should stop a

[2020-10-16 16:21] rgroves commented on #123
I'll patch this one up.

[2020-10-16 17:34] tomassirio opened #125 "[FEATURE] Add a validation so that can every user can vote only once"
![image](https://user-images.githubusercontent.com/19593836/96290245-a87d8a00-0fbc-11eb-91fc-3004f469f72e.png)

[2020-10-16 17:36] #123 closed, assigned to rgroves

[2020-10-16 18:10] rgroves commented on #117
Do you have a preference as to how to go about fixing this?

My proposal is as follows:

- Add two new environment variables: `LOCAL_DB_HOST` (required), `LOCAL_DB_PORT` (optional)
- Add some logic to `src/config/index.js` construct the appropriate connection string (similar to what is already being done in .env.example, but with some checks for if the optional port is provided to add the necessar

[2020-10-16 18:11] #122 closed, assigned to rgroves

[2020-10-16 18:12] tomassirio commented on #117
Let's go that way. I don't have a preference for the env variables right now

[2020-10-16 21:08] rgroves commented on #117
What do you think about standardizing the config settings of `LOCAL_DB_PASSWORD` and `DB_PASS` so that the last part matches between the two. So either making it:

`LOCAL_DB_PASS` and `DB_PASS`
...or...
`LOCAL_DB_PASSWORD` and `DB_PASSWORD`

I favor the second set with password spelled out, but that would be a breaking difference in production settings of current bot users.

[2020-10-16 21:38] tomassirio commented on #117
I'd go with the second one as well. Env variables should be as declarative as possible

[2020-10-17 04:48] b2pacific commented on #125
Can I help you with this issue?

[2020-10-17 14:10] tomassirio commented on #125
Sure! I'll assign it to you

[2020-10-18 12:13] #117 closed, assigned to rgroves

[2020-10-18 12:21] tomassirio opened #128 "[FEATURE] The embedded messages look kind of sloppy"
![image](https://user-images.githubusercontent.com/19593836/96367262-1cd23d80-1123-11eb-82a6-728f26d11e18.png)

That's the list command right now. Every notification on the bot shows a similar message. It would look really nice if we could get a message like the queue on groovy

![image](https://user-images.githubusercontent.com/19593836/96367272-383d4880-1123-11eb-9808-4d17bb939526.png)

Example:

[2020-10-18 13:35] tomassirio opened #129 "[BUG] The help command has an undefined row"
![image](https://user-images.githubusercontent.com/19593836/96368988-996a1980-112d-11eb-90d6-bac24d09469c.png)

Third row

[2020-10-18 17:27] ggangix commented on #129
I would like to solve this issue. Please assign it to me

[2020-10-18 17:57] ggangix commented on #129
Done #132

[2020-10-18 18:19] #129 closed, assigned to ggangix

[2020-10-19 03:35] rgroves opened #133 "[FEATURE] Refactor for a clear, single-source of configuration for the bot."
**Is your feature request related to a problem? Please describe.**
This is more of a code refactoring request than a feature request. The use of `process.env` is sprinkled throughout the ListBot code base instead of utilizing the main `config` object (from `src/config/index.js`).

**Describe the solution you'd like**
It would be better if all configuration for the bot was accessed through the main

[2020-10-19 08:51] Remakh commented on #128
Could I do this?

[2020-10-19 12:09] tomassirio commented on #128
Sure! I'll assign it to you. If you want to keep in contact, we have a [discord server](https://discord.gg/gbHhXS) were we discuss this and the other bots optimization

[2020-10-19 12:13] Remakh commented on #128
Sure thanks very much!

[2020-10-19 13:35] #82 closed, assigned to ahmad-reza619

[2020-10-19 13:58] ahmad-reza619 commented on #83
@tomassirio i would like to take these

[2020-10-19 14:56] rgroves commented on #133
@tomassirio a couple of questions:

1. Should I leave usage of process.env where configuration is actually realted directly to the environment and not exactly bot configuration — the one and only example is in `mongoose.js` where `process.env.NODE_ENV` is being used; that would be set in an external environment variable not in the bot config. I'm leaning toward leaving that as a valid usage of `pr

[2020-10-19 15:08] tomassiriouala commented on #83
Sure do!

[2020-10-19 15:11] tomassiriouala commented on #133
1. Definetely go the way you are leaning for. I'd rather have it documented on .env.example

2. The encryption feature is not yet fully baked. I haven't heard from the developer on the PR for a while. I'd go with the way of distinctive names for the .env variables. As we spoke before i'd rather have declarative environment variables

[2020-10-19 15:51] rgroves commented on #133
I hesitate to change the encrypt.js file if it's not fully baked, but if you want me to I will.

Another question, is the code in `src/commands/info/commands.js` actually used by the bot? Unless I've missed something, I don't think it is. Should it be removed?

I've made changes to files using `process.env` and am trying to do testing before committing and submitting a PR to ensure I did not intro

[2020-10-19 17:09] tomassirio commented on #133
I think that the commands in info was implemented some time during development but was discarded towards the help command. If there's no use to it, then delete it

[2020-10-19 17:14] tomassirio commented on #133
I merged just now the encryption PR. Check it out

[2020-10-19 17:17] rgroves commented on #133
I like to keep changes in PR related to issues they resolve, so I'll create an issue for removal of `src/commands/info/commands.js` and we can leave that one for an easy win for a first-timer or Hacktoberfest participant.

I'll take a look at the enrcryption PR in a bit.

[2020-10-19 18:17] #83 closed, assigned to nobody

[2020-10-19 20:11] rgroves opened #135 "[BUG] Remove Unused Code"
**Describe the bug**
It seems that after some of the refactoring that's been performed recently, the code in `src/commands/info/commands.js` is no longer in use. It makes sense to delete this file from the repo.

[2020-10-19 20:14] rgroves commented on #135
@tomassirio maybe give this one the easy and good first issue labels and let a beginner pick it up.

[2020-10-19 20:33] tomassirio commented on #135
Sure! thanks @rgroves

[2020-10-19 20:58] rgroves commented on #133
@tomassirio  There seem to be a bunch of linting issues with the code that was merged for the encryption PE. So now anyone branching off or merging in the current point in master will have those same linting issues when they try to issue a PR. Those issues should probably be cleaned up before further work is done.

Are there any guidelines in place to ensure that the master branch always stays cle

[2020-10-19 21:09] RazCrimson commented on #135
@tomassirio Can I be assigned this?

[2020-10-19 21:32] Johnisaig commented on #135
Hi, can I work on this ?

[2020-10-19 23:56] tomassirio commented on #135
It will be a race to the top I guess

[2020-10-20 00:29] tomassirio commented on #133
There should be a guideline as to how you should push to master. I think the elint job didn't trigger with that last PR.

How do you think we could make the contributor docs better?

[2020-10-20 01:44] ahmad-reza619 commented on #81
is this will apply to any channel or it can be configured?

[2020-10-20 06:13] RazCrimson commented on #135
Making my first PR, is this the right way to do it?

[2020-10-20 07:14] RazCrimson opened #137 "[BUG]Refactor Code to ESLint standards"
**Describe the bug**
The current code in master branch doesn't pass all the checks for linting.

**To Reproduce**
Steps to reproduce the behavior:

A PR based on the current master like #136

**Expected behavior**
Clearing of all tests

I will make a PR, please review it.

[2020-10-20 12:04] #137 closed, assigned to nobody

[2020-10-20 12:05] #135 closed, assigned to Johnisaig, RazCrimson

[2020-10-20 12:05] tomassirio commented on #81
Should be configured

[2020-10-20 14:22] ahmad-reza619 commented on #81
So what is the command to configure who can add / remove list? or is only admin can add / remove list?

[2020-10-20 15:36] RazCrimson commented on #34
@tomassirio Is this still up for grabs?

[2020-10-20 18:23] tomassirio commented on #34
I'm not sure. Do you want to try it anyways?

[2020-10-20 18:27] tomassirio commented on #81
I think only the admins should be able to clean an entire list. I haven't though of other case of use. Maybe we can discuss it with the other users on the server

[2020-10-21 07:06] RazCrimson commented on #34
Thx

[2020-10-21 18:08] rgroves commented on #133
I was thinking add content to make things clearer and more guided for newcomers/beginners and to make things easier for you in managing PRs.

For instance, right now the contributor page just has the Contributor Covenant on it, but no actual info about making contributions specifically in this repo.

The main README has a Contribution Guidelines with some basics, but I don't think those are even b

[2020-10-21 18:49] tomassirio commented on #133
Amazing. I'm learning a lot from this issues you are talking about. I'll try to cover my side from the PR's acceptance

[2020-10-22 20:41] #133 closed, assigned to rgroves

[2020-10-22 22:06] rgroves opened #142 "[FEATURE] Improve contributor docs"
**Is your feature request related to a problem? Please describe.**
As mentioned in the [comment](https://github.com/tomassirio/ListBot/issues/133#issuecomment-713766729) in Issue 113, I'd like to work a bit on fleshing out contributor docs to help maintain a more stable codebase.

**Describe the solution you'd like**
I'm opening this issue, to seek input from other contributors and mainly to gener

[2020-10-22 23:10] RazCrimson opened #143 "[FEATURE] Refactor code to remove typos"
**Is your feature request related to a problem? Please describe.**
There are a few typos in naming variables and syntax mistakes which are ignored implicitly. One example will be `embededMessage` which must be spelled as `embeddedMessage`. I guess this was copy/pasted, so its spelled in this manner in many modules.

**Describe the solution you'd like**
Would like those and syntax mistakes to be fi

[2020-10-23 00:04] rgroves commented on #143
I think it would be better if spelling issues were handled separately from any syntax issues (meaning treated as two separate issues).

Can you explain what you mean by syntax errors? The bot wouldn't run if there were syntax errors.

[2020-10-23 00:28] RazCrimson commented on #143
Well it missed out some awaits for promises related to sending messages(had like 5 of them). Errors might have been a wrong word to describe them.

So, do I cancel the PR and make another issue for that?

I will remove the await added for easterEggsCheck

[2020-10-23 00:50] rgroves commented on #143
I think it makes sense to have one issue and PR that does the spelling corrections.

I haven't reviewed all of the code in the PR so I can't say for sure, but I would ask if you can elaborate on what issues are caused by the missing asyncs that you're adding in? Are you sure they are required? I would determine that and maybe speak to it in the Issue you open for it explicitly.

The reason to keep

[2020-10-23 00:59] rgroves commented on #143
Oh and to answer your question, yes. I would close the PR. It looks like the title of this issue (#143) has been updated to be the issue for the typos. So you should create a PR that address the typos/spelling issues only which will close that. Then open a separate issue and explain the problem you are seeing with the bot and how adding the async/await keywords fixes it.

[2020-10-23 02:50] RazCrimson commented on #34
@tomassirio I wasn't able to reproduce the issue. I guess, its either fixed or needs more than one user to appear.

[2020-10-23 03:47] RazCrimson opened #146 "[FEATURE] Standardizing Embed Formats"
**Is your feature request related to a problem? Please describe.**
The Embed function in utils requires a `author` object to be passed as a parameter. But many locations in the code base pass `author.tag` into that. Some other locations send the `message.author.id` . Would like to standardize that to `message.author`.

**Describe the solution you'd like**
I would like a `Discord.User`/`message.aut

[2020-10-23 04:53] rgroves commented on #146
This looks like it would be a nice addition and make the message embeds look nicer. What do you think @tomassirio?

I believe Issue #128 which is in the same spirit as this and is already in the works. Let's check with the contributor there to see where there at, because if their close to finishing it would probably be better to apply work for this after their changes. Otherwise, y'all might step

[2020-10-23 04:57] rgroves commented on #128
Hi @Remakh, how is the work on this issue going? Asking because another contributor wants to make some additions (See Issue #146) that will probably collide with what you're working on. If you're close to finishing, we may hold on that Issue until you can get a PR in. Otherwise, it will be a race to finish, and whoever gets in last will likely have to deal with managing merge conflicts or just rea

[2020-10-23 10:16] Remakh commented on #128
Sorry I've had a lot of coursework and team projects recently, and still do if I'm being honest. If someone else would like to start and possibly finish it before me that's fine.

[2020-10-23 12:25] tomassirio commented on #146
They look really better and @RazCrimson is right about the redundancy in objects passed as parameters

[2020-10-23 12:26] tomassirio commented on #34
It might have been fixed. If you checked and it's working, then i'll close the issue. Thanks @RazCrimson

[2020-10-23 12:26] #34 closed, assigned to RazCrimson

[2020-10-23 12:26] #143 closed, assigned to nobody

[2020-10-23 15:31] tomassirio opened #147 "[BUG] Issues with the Add, Remove and Multi-remove commands"
1- Add command adds an empty string to the list if user doesn't provide any argument.
2- Remove command replies with "Successfully deleted item of index NaN" if user doesn't provide any argument.
3- Multi-remove command replies with "Successfully deleted items from index NaN to NaN".

[2020-10-23 15:38] rgroves commented on #128
Ok, thanks for the update.

[2020-10-23 15:48] vitasenka commented on #147
I can do it.

[2020-10-23 15:49] rgroves commented on #146
@RazCrimson It looks like Issue #128 isn't able to be worked on currently by the contributor who first requested it. Would you like to work on not only making the footer look better, but making the entire embed look a little better as described in #128? These are very much the same issue so you could tackle them both in a single PR and just mention in your PR comment that it closes them both.

You

[2020-10-23 17:48] RazCrimson commented on #146
@rgroves Ok, will try doing it.

[2020-10-24 00:48] RazCrimson commented on #146
@rgroves Should I add code blocks to embeds? Or should I directly just use code blocks?

Using code blocks within a embed adds a limitation on the length of the list item. It goes beyond the length it wont look good.

[2020-10-24 01:39] tomassirio commented on #147
Sure!

[2020-10-24 17:07] rgroves commented on #146
@RazCrimson Good job! I've reviewed the changes and for the most part they look good just a couple of adjustments are needed when you have a chance.

My initial thoughts are as follow:

- Do you know what the length limitation is when using code blocks like that?
- I see you've chosen Nim as the formatter being used for the code block. If we go this route, maybe a future Issue and PR can address m

[2020-10-24 17:30] rgroves commented on #3
Hey @tomassirio  did PR #3 address this issue in full so we can close it? If not, what else is needed?

[2020-10-24 18:08] rgroves commented on #58
Was this a user configuration issue or is it still something that needs to be looked into? If it still needs to be looked into can someone provide clear steps to reproduce the issue in question. Thanks!

[2020-10-24 21:36] #40 closed, assigned to Abhijay007

[2020-10-24 22:40] RazCrimson commented on #146
@rgroves The description of a embed (where I insert code blocks text) has a length limit of 2048 characters. We might need to split it into multiple messages if it gets too long.

As for making it into a format which can be specified in .env, its totally possible. Will make a new Issue for that after I am done with this, I guess.

We also need:

- A PR to handle the messages which exceed the max l

[2020-10-24 23:32] tomassiriouala commented on #58
I don't know what it was, I just put the URL hardcoded on a file and it worked. Can't remember more

[2020-10-24 23:33] tomassiriouala commented on #3
Nothing else. I forgot to close the issue

[2020-10-25 02:53] #3 closed, assigned to jayeshmann

[2020-10-25 02:58] rgroves commented on #58
Okay, I'm going to close this out then.

[2020-10-25 02:58] #58 closed, assigned to nobody

[2020-10-25 15:40] #146 closed, assigned to RazCrimson

[2020-10-25 19:33] RazCrimson opened #150 "[FEATURE] Increase poll range of choices"
**Is your feature request related to a problem? Please describe.**
The bot currently only supports polls with 5 choices. Also some minor redundant initialization and variables in poll.js

**Describe the solution you'd like**
Increase the range of choices by adding 6-9 and possibly A-Z emotes too. So it will be 1-9, A-Z to a total of 35 possible choices to vote on.

**Describe alternatives you've c

[2020-10-26 13:47] rgroves opened #152 "[BUG] Issue with poll command when channel list has more than 5 items"
**Describe the bug**
Originally reported by [anontyro](https://github.com/anontyro) in #149: "if you try and make a poll when your list has more than five items it will list all items but they will be undefined myItem format, which I would assume is not expected behaviour?"

**To Reproduce**

1. Add more than five items to your channel's list
2. Issue the poll command
3. You'll see `undefined <ite

[2020-10-26 13:50] rgroves commented on #152
This was fixed by #151.

[2020-10-26 13:50] rgroves commented on #152
This was fixed by #151.

[2020-10-26 13:50] #152 closed, assigned to nobody

[2020-10-26 14:34] rgroves commented on #150
@RazCrimson can you point out the redundant initializations/variables that you've noticed? Wondering if we should address that as a separate code quality issue.

@tomassirio do you have an opinion on how this should work? Would the number of options be an option on the $poll command so a user can choose how many random items they want in the poll? Or should it just be increased to 9 items with no

[2020-10-26 14:45] rgroves commented on #128
This was partially addressed by PR #148.
PR #149 should close this out once it's ready to be merged.

[2020-10-26 16:02] tomassirio commented on #150
Maybe we can have a parameter for the number of options. It could be default initialized to 5

[2020-10-26 16:10] rgroves commented on #150
Sounds good to me. Thanks for the input.

@RazCrimson if you haven't started working on this already feel free to proceed with making the default 5 and allowing the user to pass an option to indicate the number of items in the poll, from 2 to a max of 9 for now.

Maybe in the future we can introduce paging into the bot messages for longer lists and at that point we can decide how to handle a poll

[2020-10-26 21:02] RazCrimson commented on #150
@rgroves Will add a parameter with 5 being the default, allowing a range of 2-9.
It selects the first N elements? If so we might need a PR/Issue to re order the list items.

As for the redundant initializations, it was  Webstorm reporting to me while I made commits. We should have like half a dozen or so redundant initializations and the `minutes` variable being assigned 0 in line number 72 of `po

[2020-10-27 00:39] rgroves commented on #150
Regarding the item order, it pulls back all items from the database  on line 12 and does a random shuffle on line 17 before pulling the first N elements of the shuffled list.

I agree that the assignment on line 72 is unnecessary. I'll open an issue for code quality/optimization and assign it to you.

[2020-10-27 01:03] rgroves opened #153 "Code Quality/Optimizations"
There were some code quality/optimization issues discovered by @RazCrimson (as noted in #150 in [this comment](https://github.com/tomassirio/ListBot/issues/150#issuecomment-716821751)). Copying the relevant info here as well:

"_As for the redundant initializations, it was Webstorm reporting to me while I made commits. We should have like half a dozen or so redundant initializations and the minute

[2020-10-27 01:12] rgroves commented on #153
@RazCrimson are you able to help identify what rules Webstorm was using when it reported the code quality (redundant initialization and/or other) issues? I'd like to try to identify them and see if we can turn on equivalent rules in the eslint tool that is in use for the ListBot codebase.

[2020-10-27 22:55] RazCrimson commented on #153
@tomassirio @rgroves Can anyone of you review and merge master with #149 ? Waiting for it to be done so that I wont have to merge my changes, in case there are any conflicts.

As for the ESlint rules, I can't find a equivalent in the documentation for what Webstorm is detecting here.

[2020-10-28 01:22] rgroves commented on #153
@RazCrimson I'm waiting for two minor changes to be worked into #149 before it can be merged.

If you'd like to continue working, one way to do it is as follows:

You can add a remote for anontyro's repo:
[code]

Once that is done, you'll be on the feature/add-colour-to-list branch and can continue your work on that branch. Be aware there will be two adjustments you'll want to make in `src/utils/u

[2020-10-28 01:41] rgroves commented on #153
@RazCrimson Also, how familiar are you with Webstorm? I'm trying to look into what it is using for doing it's checks. I found something that said it integrates with ESLint, but if as you say there is no equivalent in ESLint, it must be using something else. Would love to see a list of its rules. Maybe it's using additional plug-ins?

If you had time to dig into that and report back, it would be ve

[2020-10-28 13:03] RazCrimson commented on #153
@rgroves
I have 6 warnings for redundant initialization like this:
![image](https://user-images.githubusercontent.com/52282402/97434253-bf20cb00-1944-11eb-9479-c7d47e75b3c5.png)

Do u see the resultMessage being assigned values in all if..else blocks? So, that makes assigning a initial value to it redundant.

Then do you remember that awaits that I added some of my initial commits. They are caught

[2020-10-28 13:53] vitasenka opened #154 "[BUG] MongoDB error-handling"
The bot replies with success message even if MongoDB server is not available.

How to produce the bug:
1. Start MongoDB server.
2. Start the bot.
3. Shutdown the MongoDB server.
4. Use bot commands.

![catchBug](https://user-images.githubusercontent.com/64737770/97445043-0c4f6d80-1942-11eb-9940-1897e807261d.jpg)

[2020-10-28 17:05] RazCrimson commented on #154
Yes, I can reproduce this. The reply from bot takes some time(30seconds) which is probably when the request to DB times out.

[2020-10-30 02:02] rgroves commented on #153
Okay, I'm on the fence about warnings (especially the ones labeled 'weak warnings') for rules we can't enforce. Just because if we're not able to enforce them they will likely creep into the codebase over time, then only a WebStorm user will be able to identify them.

With that said, if you want to make the changes and they improve the codebase, I'm not entirely against it either.

I haven't heard

[2020-10-30 02:17] rgroves commented on #128
I'm going to close this out since PR #149 was completed and merged. If further improvements to the bot messages are required, we can address them as a new issue.

[2020-10-30 02:17] #128 closed, assigned to Remakh

[2020-10-30 02:49] rgroves commented on #53
Hey @javleds  👋 are you still working towards getting testing into place?

[2020-10-30 02:51] rgroves commented on #80
Hey @tomassirio 👋 can you expand upon your initial thought so that we can add details for what exactly is needed here? As it stands I don't think it is very clear.

[2020-10-30 03:44] rgroves commented on #125
Hi @b2pacific 👋 are you still working on this issue?

[2020-10-30 03:52] rgroves commented on #147
The `$remove` bug is particularly nasty, because it does actually remove the first item in the list.

Hey @vitasenka, 👋 are you still working on this issue?

[2020-10-30 12:01] tomassirio commented on #80
I think this issue should be closed. The bot took mostly another orientation and this feature won't be useful. Let's just close the issue

[2020-10-30 12:01] #80 closed, assigned to nobody

[2020-10-30 12:08] vitasenka commented on #147
@rgroves It's almost done. I was waiting for other contributors to finish the styling.

[2020-10-30 14:20] RazCrimson commented on #154
@rgroves We can stop the bot when the DB gets disconnected the connection times out?

[2020-10-30 19:14] rgroves commented on #153
I just wanted to add a note here for future reference. I was struggling with some of the `await` keyword additions, so looked into the reasons behind why WebStorm's code inspection warns when they are missing. I found this:
[JetBrains reasoning for "Code Inspection: Missing await for an async function call"](https://www.jetbrains.com/help/phpstorm/javascript-and-typescript-missing-await-for-an-asy

[2020-10-30 20:43] #153 closed, assigned to nobody

[2020-10-31 12:42] vitasenka opened #158 "[BUG] Saving the same doc multiple times in parallel"
When user calls add command in a new channel for the first time, mongoose throws the following error:
UnhandledPromiseRejectionWarning: ParallelSaveError: Can't save() the same doc multiple times in parallel.

My guess:
If you call add command in a new channel, bot calls .save() function two times. First time in channel-repository.js and second time in add.js. The first save is called when items a

[2020-10-31 16:18] #147 closed, assigned to vitasenka

[2020-10-31 17:16] #150 closed, assigned to RazCrimson

[2020-10-31 17:34] rgroves commented on #154
LIstBot needs better error handling. In some places, especially in most commands when interacting with the database, it's non-existent.

I think it would be good to have two things done in starting to address this issue, and this probably needs some further examination of the codebase to see exactly what needs doing, but in general:

1. Allow user to make connection timeout configurable—meaning th

[2020-10-31 18:41] RazCrimson commented on #158
I guess, we are missing a await for some promise in the codebase.

[2020-10-31 19:21] rgroves commented on #158
Looks like the issue is in `ChannelRepository.create`.

In `src/commands/add.js` [it does await](https://github.com/tomassirio/ListBot/blob/8f9172aec3e52d8590bf4b47fd5c33a162e5814f/src/commands/add.js#L25) the call to `ChannelRepository.findOrCreate`, but in `src/repositories/channel-repository.js` in `findOrCreate` if the channel does not exist it calls `create` and create should be returning a P

[2020-10-31 19:22] rgroves commented on #158
Anyone want to take this one on?

[2020-11-01 02:19] ahmad-reza619 opened #160 "[BUG] The help command's output does not provide help for all commands currently available."
**Describe the bug**
Currently there is no description about promote & demote command in $help command.

**To Reproduce**
Steps to reproduce the behavior:

1. Type $help & enter
2. No desc about promote & demote command

**Expected behavior**
There should be description about this command

**Additional context**
For the description of command:
1. Promote: add admin for Listbot command. Note that o

[2020-11-01 10:15] RazCrimson commented on #158
@rgroves I will try taking it on.

[2020-11-01 16:10] rgroves commented on #158
I've assigned you to this issue. Thanks @RazCrimson!

[2020-11-02 04:51] rgroves commented on #160
I'm going to edit the description of this issue because the help command needs more entries than just promote and demote added. Currently these commands are missing from the help list and need to be added:
-   demote
-   promote
-   clear
-   ping

[2020-11-10 21:29] rgroves commented on #142
@tomassirio I've been waiting to merge this because I was hoping to get your input on it. Have any feedback or change requests? I was hoping for approval of what I put together before merging?

[2020-11-11 00:51] #142 closed, assigned to rgroves

[2020-12-15 14:34] Feelzor opened #161 "[BUG] $list outputs nothing if there are too many characters"
**Describe the bug**
If the list is too long, the `$list` outputs nothing.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.lipsum.com/
2. Generate and copy 1500 bytes of lorem ipsum
3. `$multi-add <paste_here>`
4. `$list`

**Expected behavior**
The bot should send multiple messages to show the entire list and avoid the 2k characters max.

[2020-12-15 20:14] Feelzor opened #163 "[BUG] Multi-add splits with spaces"
**Describe the bug**
When you add elements with spaces, it considers them as different elements.

**To Reproduce**
Steps to reproduce the behavior:

1. `$multi-add Element 1 Element 2`
2. `Element`, `1`, `Element` and `2` are created.

**Expected behavior**
The bot should have a way to differenciate arguments even when they have spaces in them.
The use of semicolon as separator has been suggested

[2020-12-15 21:27] #163 closed, assigned to nobody

[2020-12-15 21:27] #160 closed, assigned to nobody

[2020-12-18 21:55] rgroves opened #166 "Remind command help is not currently accurate."
This looks like it's missing the reminder elements in the usage.

Should probably be something like `usage: '<time_in_seconds> [reminder_item [...]]'`

_Originally posted by @rgroves in https://github.com/tomassirio/ListBot/pull/162#discussion_r546107666_

[2020-12-18 21:56] rgroves opened #167 "Refactor how commands and help interact to build usage."
This is an good start, but it'd be a bit cleaner if help had a method to allow commands to register with help as they are loaded by the bot, instead of help having to have knowledge of the command files and having to require them to build the help.

_Originally posted by @rgroves in https://github.com/tomassirio/ListBot/pull/162#discussion_r546108699_

[2020-12-18 21:58] MMFW opened #168 "[BUG] Select commands no longer functioning"
**Describe the bug**
2-3 days ago I tested this bot on my server and it worked. Now the following commands (that I've tested) no longer work.
$list
$add
$multi-add
I am unsure if $remove works as the other functions do not.

The following functions have been tested as working:
$help
$ping

**To Reproduce**
I've kicked and re-invited the bot with the same results.

[2020-12-18 22:25] rgroves commented on #168
If possible can you provide any error messages (if any) that were logged from the bot instance you are running on your server.

I know you mentioned and I see the same behavior seems to be happening in the SirioBots Discord channel, but I don't own that instance and I'm unable to reproduce in my development environment with the latest code from this repo. Having any error messages might provide so

[2020-12-18 22:45] rgroves commented on #168
Spoke with @MMFW over on the SirioBots Discord server and it turns out the official ListBot is being used, not the user's own bot instance.

Everything looks in working order with the most recent ListBot code on my dev server, so I believe the official ListBot instance has either a configuration issue or the database backing it may be down?

I'm hoping @tomassirio can chime in with what they've fo

[2020-12-18 23:15] tomassirio commented on #168
I pulled updates changes from the repo and I got an error with the mongodb connection. I'll try to fix it this weekend. Sorry for the inconvenience

[2020-12-18 23:22] rgroves opened #169 "Commands no longer case-insensitive."
Lost case-insensitivity for the command by not including the `.toLowerCase()` when destructuring the `commandName`.

_Originally posted by @rgroves in https://github.com/tomassirio/ListBot/pull/164#discussion_r546134198_

To not have different behavior from prior version of the bot we should fix to maintain the old behavior (allowing commands to be case-insensitive).

[2020-12-18 23:27] rgroves opened #170 "Extraneous space not handled as they were previously."
Should be splitting by one or more spaces here as was done previously (`/ +/`) to remove extraneous spaces. Then on line 17 you can just split by a space and the multiple `trim` calls in multi-add.js become unnecessary.

_Originally posted by @rgroves in https://github.com/tomassirio/ListBot/pull/164#discussion_r546142092_

**Describe the bug**
If extraneous spaces are part of the command issued,

[2020-12-21 18:29] rgroves commented on #168
I'm going to close this out since it was a problem with the official ListBot instance and not a code issue.

@tomassirio please reopen if you want to keep this as a reminder to check on the db connection of the official ListBot instance. Or if it's not just a config issue and there really is an issue with the code please document it here and we can address it further.

[2020-12-21 18:29] #168 closed, assigned to rgroves, tomassirio

[2020-12-22 18:12] rgroves commented on #158
@RazCrimson let me know if you are still working on and able to tackle this. If not I'll remove you from assignees and pick it up myself.

[2020-12-22 18:12] #169 closed, assigned to nobody

[2020-12-22 18:24] #161 closed, assigned to nobody

[2020-12-22 18:56] #170 closed, assigned to nobody

[2020-12-22 20:07] rgroves opened #173 "[BUG] Issues with $remind command: empty reminder allowed and strange delimiting"
**Describe the bug**
There are two issues with the current behavior of the remind command:

1. If a reminder is not provided it will show "CSS" as the reminder
2. When a multi-word sentence is passed as the reminder it ends up being delimited like this: "this ,is ,a ,test"

**To Reproduce**
Steps to reproduce the empty reminder behavior:

1. Issue the command without a reminder: `$remind 1`
2. You

[2020-12-22 21:22] #173 closed, assigned to rgroves

[2020-12-22 21:40] #166 closed, assigned to nobody

[2020-12-23 00:52] RazCrimson commented on #158
@rgroves Oof. I totally forgot about this due to my exams. Will finish it and make a PR soon.

Sorry for the delay 😓

[2020-12-23 03:14] rgroves commented on #158
No worries. Thanks for the update.

[2020-12-23 15:59] RazCrimson commented on #158
@rgroves I just took a look at the code. ~~But wont returning a promise make `ChannelRepository.findOrCreate` inconsistent?
Because when we call `ChannelRepository.find` it returns a channel object while `ChannelRepository.create` returns a channel object with is not created yet(but will be created. So if you edit the object and save it, it might cause Parallel Save.~~

Is it fine to just add a aw

[2020-12-23 17:49] rgroves commented on #158
For now, I would just model the behavior of the `ChannelRepository.create` method like `ChannelRepository.find`; where you return the await'ed value from `save` and in the `catch` just log the error and return `null`. Something like:
[code]

To be honest, the entire codebase really needs better error handling and testing. I'm going to work on getting testing in place and that in turn should requir

[2020-12-23 18:11] rgroves commented on #158
Just wanted to check before merging, did you put this through some manual testing?

I believe the repro steps for the original issue would be:
1. Create a new channel
2. Issue an `$add` command in that new channel

Before the fix that would cause a ParallelSaveError to be logged.

If you're able to run a few tests on existing channels and a new channel to ensure things are in working order that'd

[2020-12-23 18:52] RazCrimson commented on #158
I did test it on a new channel. Didn't seem to cause any problems.

[2020-12-23 18:54] #158 closed, assigned to RazCrimson

[2020-12-24 18:00] RazCrimson commented on #125
Hmm.... Should we just validate that every user has voted only once or do we need to log it to the DB?
(Also I think letting a user do multiple votes should be a choice that should be available during the poll creation)

But If we need to allow a user to vote only once, either we take a dumb approach and assign priorities to each options and the one with the higher priority is selected. The other

[2020-12-24 20:14] rgroves commented on #125
The [ReactionCollector ](https://discord.js.org/#/docs/main/stable/class/ReactionCollector)object, used by the poll command to keep track of the reactions to the message, has an attribute named `users` which could be used to check if a user already reacted to the post and if so ignore it subsequent reactions.

Alternatively—and probably a better way to go but you may need to poke around that objec

[2020-12-24 20:15] rgroves commented on #125
@RazCrimson The [ReactionCollector ](https://discord.js.org/#/docs/main/stable/class/ReactionCollector)object, used by the poll command to keep track of the reactions to the message, has an attribute named `users` which could be used to check if a user already reacted to the post and if so ignore it subsequent reactions.

Alternatively—and probably a better way to go but you may need to poke aroun

[2021-02-01 21:23] casmbu opened #177 "[FEATURE] Add pagination"
**Is your feature request related to a problem? Please describe.**
If you add enough things to the list that it exceeds the embed limit, it will not display anything.

**Describe the solution you'd like**
Having pagination would resolve this issue. This could be done in multiple ways. Two ways I've seen it done are:
1) Have an input argument for the page that you want to view (eg. `$list 1` `$list

[2021-03-04 01:54] jmorim opened #179 "[BUG] This bot can't join more servers. https://dis.gd/bot-verification"
**Describe the bug**
Bot can't join discord.
"This bot can't join more servers as it has not been verified or is requesting gateway intents it has not been verified for [sic]. Ask the bot's developer about https://dis.gd/bot-verifictation so you can add it to your server!

**To Reproduce**
Steps to reproduce the behavior:
Try adding the bot to your discord server

1. Go to '...'
2. Click on '....'

[2021-03-04 04:53] jmorim commented on #179
I would like to add that I don't know if the desire to add Cast Away to the list has affected the bot's performance. We could test this with other Tom Hanks or Robert Zemeckis movies as well.

[2021-04-12 07:45] carlytsu commented on #179
I also experienced this issue!

[2021-04-12 12:48] tomassirio commented on #179
Hi people, this is not a bug, this is Discord's verification of the bot once it reaches 100 servers (hurray!). The verification process is ongoing right now so I ask you please to standby. I'll be notifying you once the process is completed

[2021-04-16 16:14] tomassirio commented on #179
The bot is now authorized! Thanks for the patience

[2021-04-16 16:14] #179 closed, assigned to nobody

[2021-05-02 16:35] RazCrimson opened #180 "[BUG] Unwanted files present in the repo"
**Describe the bug**
The DS_Store file present in the root of the repo is supposed to be removed from the commits made in #108
But only a .gitignore entry was added, the original file was never removed.

**To Reproduce**
Just visit the repo's source and you can see that the .DS_Store file exits

**Expected behavior**
To have the file removed.

[2022-10-06 12:32] shyambh commented on #53
@tomassirio Hi, I woule like to create a basic suite of Cypress tests, so that we can have a test suite in place. If this sounds good to you, can you please assign me this ticket?

[2022-10-06 13:56] tomassirio commented on #53
Sure!

[2022-10-12 15:46] shyambh commented on #53
Hi @tomassirio . I am unassigning myself from this ticket since I can't figure out how to proceed with the testing since the test needs to point to a live discord channel which would require actual user credentials.
My apologies 🙏